html, body {
    margin: 0px;
    padding: 0px;
}

.register {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.register hr {
    clear: both;
    visibility: hidden;
}

.register .items-view {
    width: 100%;
}

.register .items-view th, .register .items-view td {
    padding: 10px;
}

.register .items-view th {
    background-color: #009999;
    color: white;
    padding: 20px;
}

.text-column {
    width: 80%;
}

.totals-container, .payment-container, .change-container {
    float: right;
}

.payment-notenough {
    border: 3px solid orange;
}

.payment-ok {
    border: 3px solid green;
}

.payment-error {
    border: 3px solid red;
}

.change-list {
    list-style: none;
}

.change-popup {
    position: absolute;
    border: 2px dotted black;
    background-color: #009999;
    color: white;
    padding: 50px;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
}
